.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 48px 115px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.login__headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.login__headline {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.login__line {
    width: 150px;
    height: 3px;
    background-color: #29ABE2;
}

.login__button-container {
    display: flex;
    align-items: center;
    gap: 35px;
}