.auth-layout {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #F6F7F8;
}

.auth-layout__container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 67px 61px 40px 61px;
    position: relative;
}

.auth-layout__logo {
    width: 274px;
    height: 334.07px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: resizeAndMove 0.7s 0.5s forwards;
}

.auth-layout__sign-up-container {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 35px;
    opacity: 0;
    animation: fadeIn 0.7s 0.5s forwards;
}

.auth-layout__sign-up-container--opacity {
    opacity: 1;
}

.auth-layout__sign-up-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.auth-layout__main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 0.7s 0.5s forwards;
}

.auth-layout__legal-links {
    display: flex;
    align-items: center;
    gap: 16px;
    opacity: 0;
    animation: fadeIn 0.7s 0.5s forwards;
}

.auth-layout__legal-text {
    min-width: 126px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #A8A8A8;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.auth-layout__legal-text:hover {
    font-weight: 700;
    color: #29ABE2;
}

.toast-message {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
}

.toast-message__text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: #2A3647;
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000026;
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes resizeAndMove {
    to {
        width: 100.03px;
        height: 121.97px;
        top: 80px;
        left: 77px;
        transform: unset;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 1000%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}